<div class="login_form">
  <%= bootstrap_form_with(scope: :session, url: login_path, local: true) do |f| %>
    <%= f.text_field :employee_number, required: true, label: "社員番号" %>
    <%= f.password_field :password, required: true, label: "パスワード" %>
    <%= f.check_box :remember_me, checked: true, label: "ログインしたままにする" %>
    <%= f.submit "ログイン", class: "login_button" %>
  <% end %>
</div>

社員番号:001, パスワード:password(管理者)(管理者用画面未実装)</br>
社員番号:002, パスワード:password
