<div class="login_form">
  <%= form_with(scope: :session, url: login_path, local: true) do |form| %>

    <%= form.label :employee_number, "社員番号" %>
    <%= form.text_field :employee_number, required: true %>

    <%= form.label :password, "パスワード" %>
    <%= form.password_field :password, required: true %>

    <%= form.label :remember_me, class: "checkbox" do %>
      <%= form.check_box :remember_me, checked: true %>
      <p>ログインしたままにする</p>
    <% end %>

    <div class="login_button">
      <%= form.submit "ログイン" %>
    </div>  
  <% end %>
</div>