<div class="login_form">
  <%= form_with(scope: :session, url: login_path, local: true) do |f| %>

    <%= f.label :employee_number, "社員番号" %>
    <%= f.text_field :employee_number, required: true %>

    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, required: true %>

    <%= f.label :remember_me, class: "checkbox" do %>
      <%= f.check_box :remember_me, checked: true %>
      <p>ログインしたままにする</p>
    <% end %>

    <div class="login_button">
      <%= f.submit "ログイン" %>
    </div>  
  <% end %>
</div>

社員番号:001, パスワード:password(管理者)(管理者用画面未実装)</br>
社員番号:002, パスワード:password
