<% provide(:title, '社員一覧') %>
<%= link_to new_user_path, class: "new_link" do %>
  <%= image_tag "signin.svg" %>
  新規登録
<% end %>
<%= link_to "修正依頼状況", attendances_path, class: "button right" %>
<%= link_to "出勤登録", new_attendance_path, class: "button right low" %>

<%= search_form_for @search, html: { data: { turbo_frame: "users-list" } } do |f| %>
  <% if params[:q] %>
    <%= f.label :name_cont, "氏名で調べる" %>
    <%= f.search_field :name_cont, placeholder: "氏名を入力", value: params[:q][:name_cont] %>
    <%= f.hidden_field :attendances_status_eq, value: "begin" %>
    <%= f.label :attendances_timestamp_gteq, "出勤日で調べる" %>
    <div class="date_range">
      <%= f.date_field :attendances_timestamp_gteq, value: params[:q][:attendances_timestamp_gteq] %>
      〜
      <%= f.date_field :attendances_timestamp_lteq_end_of_day, value: params[:q][:attendances_timestamp_lteq_end_of_day] %>
    </div>
  <% else %>
    <%= f.label :name_cont, "氏名で調べる" %>
    <%= f.search_field :name_cont, placeholder: "氏名を入力" %>
    <%= f.hidden_field :attendances_status_eq, value: "begin" %>
    <%= f.label :attendances_timestamp_gteq, "出勤日で調べる" %>
    <div class="date_range">
      <%= f.date_field :attendances_timestamp_gteq %>
      〜
      <%= f.date_field :attendances_timestamp_lteq_end_of_day %>
    </div>
  <% end %>
  <%= f.submit %>
  <%= link_to "クリア", users_path, class: "button" %>
<% end %>

<table id="users">
  <tr>
    <th>社員番号</th>
    <th>社員名</th>
    <th>出勤時間~退勤時間(直近)</th>
    <th>修正依頼(直近)</th>
    <th>修正依頼理由</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <%= render user %>
    </tr>
  <% end %>
</table>

<%= paginate @users %>
