<% provide(:title, 'All users') %>
<%= link_to new_user_path, class: "new_link" do %>
  <%= image_tag "signin.svg" %>
  新規登録
<% end %>
<%= link_to "修正依頼状況",attendances_path, class: "button right" %>

<%= search_form_for @search do |f| %>
  <%= f.search_field :name_cont %>
  <%= f.submit " 検索 ", class: "search_button search" %>
  <button class="search_button"><%= link_to "クリア", users_path %></button>
<% end %>

<table id="users">
  <tr>
    <th><%= sort_link(@search, :employee_number, "社員番号") %></th>
    <th><%= sort_link(@search, :name, "社員名") %></th>
    <th>時間(出退など)</th>
    <th>修正依頼(直近)</th>
    <th>修正依頼理由</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
    <%= render user %>
    </tr>
  <% end %>

</table>
<%= paginate @users %> 
