<section class="form">
  <button class="close-modal">×</button>
  <%= form_with(model: @post, local: true) do |f| %>
    <%= f.fields_for :user do |u| %>
      <%= u.hidden_field :is_attending, value: true %>
    <% end %>

      打刻する時刻: <span id="finish_time"></span>
      <%= f.fields_for :attendance do |a| %>
        <%= a.hidden_field :finish_at, value: Time.current.strftime("%Y-%m-%d %H:%M:%S") %>
      <% end %>

    <%= f.fields_for :message do |m| %>
      <div class="field">
        <%= m.hidden_field :sender_id, value: current_user.id %>
        <%= m.collection_select :receiver_id, User.all, :id, :name, prompt: '選択してください' %>
        <%= m.text_area :content %>
      </div>
    <% end %>

    <%= f.submit "退勤登録", class: "btn btn-primary" %>
  <% end %>
</section>
