<section class="form">
  <button class="close-modal">×</button>
  <%= form_with(model: @attendance, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.hidden_field :status, value: "finish" %>

      打刻する時刻: <span id="finish_time"></span>
      <%= f.hidden_field :timestamp, value: Time.current.strftime("%Y-%m-%d %H:%M:%S") %>

    <%= f.fields_for :message do |m| %>
      <div class="field">
        <%= m.collection_select :receiver_id, User.all, :id, :name, prompt: '選択してください' %>
        <%= m.text_area :content %>
      </div>
    <% end %>

    <%= f.submit "退勤登録", class: "btn btn-primary" %>
  <% end %>
</section>
