<section class="form">
  <%= form_with(model: @attendance, local: true) do |f| %>
    <div class="field">
      <div id="current_time" class="current-time"></div>
      <%= f.label :receiver_id, "メッセージを送るユーザー" %>
      <%= f.collection_select :receiver_id, User.all, :id, :name, include_blank: true %>
    </div>
    <div class="field">
      <%= f.label :content, "メッセージ" %>
      <%= f.text_area :content %>
    </div>
    <%= f.submit "退勤記録", class: "btn btn-primary" %>
  <% end %>

</section>
