<section class="form">
  <button class="close-modal">×</button>
  <%= bootstrap_form_with(model: @attendance, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.hidden_field :status, value: "modification_request" %>
    
    <%= f.fields_for :message do |m| %>
      <%= m.collection_select :attendance_to_change_id, current_user.attendances.where.not(status: ["settled", "unsettled"]), :id, :display_selection, prompt: '選択してください', label: "修正する記録:" %>
    <% end %>

    <%= f.datetime_field :timestamp, id: "attendance_timestamp", label: "修正後の時刻:", value: Time.now.strftime('%Y-%m-%dT%T') %>

    <%= f.fields_for :message do |m| %>
      <div class="field"> 
        <%= m.collection_select :receiver_id, User.all.where(admin: true), :id, :name, prompt: '選択してください', label: "修正依頼先:" %>
        <%= m.text_area :content, label: "修正理由" %>
      </div>
    <% end %>

    <%= f.submit "修正依頼", class: "btn btn-primary" %>
  <% end %>
</section>
