<% provide(:title, '修正依頼状況') %>
<%= link_to new_user_path, class: "new_link" do %>
  <%= image_tag "signin.svg" %>
  新規登録
<% end %>
<%= link_to "社員一覧", users_path, class: "button right" %>
<%= link_to "出勤登録", new_attendance_path, class: "button right low" %>

<table id="attendances">
  <tr>
    <th>社員番号</th>
    <th>社員名</th>
    <th>修正依頼</th>
    <th>修正依頼理由</th>
  </tr>
  <% @attendances.each do |attendance| %>
    <tr>
    <%= render attendance %>
    </tr>
  <% end %>
</table>
