<body id="new_attendance">
  <div class="btn-wrapper">
    <button id="begin_button" class="attendance_button <%= 'disabled' if previous_status(current_user) == "begin" %>">出勤</button>
    <button id="finish_button" class="attendance_button <%= 'disabled' if previous_status(current_user) == "finish" %>">退勤</button>
  </div>
    <button id="modification_button" class="attendance_button">修正依頼</button>

  <div id="modal_overlay" class="modal-overlay"></div>

  <div id="begin_modal" class="modal">
    <%= render 'begin_popup' %>
  </div>

  <div id="finish_modal" class="modal">
    <%= render 'finish_popup' %>
  </div>

  <div id="modification_modal" class="modal">
    <%= render 'modification_popup' %>
  </div>
</body>
